body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  #app {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  h1 {
    color: #333;
    font-family: serif;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  #move-display {
    font-size: 42px;
    font-weight: bold;
    margin-top: 20px;
    font-family: serif;
  }

